# Managed by Ansible - edits will be overwritten.
UTILIKIT_HOST=0.0.0.0
UTILIKIT_PORT=8400
UTILIKIT_LOG_LEVEL={{ utilikit_log_level | default('INFO') }}
UTILIKIT_DATA_DIR=/var/lib/utilikit
UTILIKIT_PUBLIC_BASE_URL={{ utilikit_public_base_url | default('') }}

UTILIKIT_API_KEYS={{ utilikit_api_keys }}
UTILIKIT_RATE_LIMIT_PER_MIN={{ utilikit_rate_limit_per_min | default(120) }}
UTILIKIT_RATE_LIMIT_BURST={{ utilikit_rate_limit_burst | default(40) }}

UTILIKIT_ALLOW_PRIVATE_FETCH={{ utilikit_allow_private_fetch | default('false') }}
UTILIKIT_FETCH_ALLOW_HOSTS={{ utilikit_fetch_allow_hosts | default('') }}

UTILIKIT_BROWSER_ENABLED={{ 'true' if utilikit_with_browser | default(true) | bool else 'false' }}
UTILIKIT_BROWSER_CONCURRENCY={{ utilikit_browser_concurrency | default(1) }}
UTILIKIT_GEOIP_MMDB_PATH=/var/lib/utilikit/GeoLite2-City.mmdb
